body {
    background-color: black;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

H1 {
    color: yellow;
    margin-bottom: 70px;
}

button {
    border: 4px white solid;
    background-color: rgb(0, 0, 61);
    padding: 40px 25px;
    border-radius:100px;
    color: white;
    margin: 0 8px;
    font-size: 20px;
    cursor: pointer;
    transition: .3s;
}

button:hover {
    opacity: .5;
}

.rock-image {
    width: 150px;
}

.button-container {
    display: flex;
    flex-direction: row;
}
.game-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.moves-text {
    color: white;
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    margin: 25px 0;
}

.result-text, .score-text {
    margin: 0;
    margin: 10px 0;
    font-size: 23px;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.reset-button {
    padding: 12px 24px;
    border-radius: 8px;
    background-color: red;
    border: none;
}

.autoPlay-button {
    padding: 12px 24px;
    border-radius: 8px;
    background-color: rgb(2, 138, 13);
    border: none;
}

.confirmation-message {
    color: white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif
}

.confirmation-button-yes {
    padding: 10px 20px;
    border-radius: 8px;
    background-color: rgb(2, 138, 13);
    border: none;
}

.confirmation-button-no {
    padding: 10px 20px;
    border-radius: 8px;
    background-color: rgb(255, 7, 7);
    border: none;
}